%%AVATAR container_class="author-bio_avatar alignleft"%%
<div class="caption">
<h3><?php printf( __( 'Written by %s', 'child-theme-domain' ), '%%AUTHOR_POSTS_LINK%%' ); ?></h3>
<div class="author-date">
<?php the_date('d/m/Y'); ?>
</div>
%%AUTHOR_META field="description"%%
</div>