%%THUMBNAIL%%

<div class="caption-block">

%%TITLE where="loop"%%

<div class="entry-meta entry-meta-top">
    %%DATE before="<?php _e( 'Posted on ', 'child-theme-domain' ); ?>"%%
	%%AUTHOR before="<?php _e( 'by ', 'child-theme-domain' ); ?>"%%
	%%COMMENTS%%
</div>

%%CONTENT%%
%%BUTTON%%

<div class="entry-meta entry-meta-bottom">
	%%TAXONOMY name="category" before="<?php _e( 'Posted in ', 'child-theme-domain' ); ?>"%%
	%%TAXONOMY name="post_tag"%%
</div>

</div>