%%COMMENT_AUTHOR_AVATAR%%

<div class="caption">

<div class="comment-author">
    %%COMMENT_AUTHOR_LINK%%
</div>

<div class="comment-content">
	%%COMMENT_TEXT%%
</div>

<div class="comment-date">
    %%COMMENT_DATE format="d/m/Y"%%
</div>
    
<div class="reply">
	%%COMMENT_REPLY_LINK%%
</div>

</div>