<div class="related-picture">
%%THUMBNAIL size="cherry-thumb-s" class="related-posts_thumbnail"%%
%%DATE format="d/m/Y"%%
</div>

<div class="caption">
%%TITLE tag="h4" before="" after="" linked="yes"%%
%%CONTENT type="part" length="15"%%
</div>